@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrains Mono ;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.1em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#wireplumber,
#battery,
#tray {
    padding-right: 1em 
}

